<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,900" rel="stylesheet">

@media only screen
and (min-device-width : 375px)
and (max-device-width : 767px) {
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .ezraimg {
    display: none;
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .ezraimg {
    display: none;
  }

  .case {
    background-size: 30%;
  }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 7000px) {
  body {
  	background-color: white;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .logo {
    height: 550px;
    margin-left: 50px;
  }

  .logoeid {
    height: 130px;
  }

  .main {
    display: flex;
    justify-content: space-between;
  }

  .first {
    flex-basis: 25%;
    order: 1;
  }

  .second {
    flex-basis: 70%;
    order: 2;
  }

  .imgcontainer {
    margin-top: 0px;
    height: 100%;
  }

  .ezraimg {
    width: 100%;
    height: 100%;
  }

  .title {
    font-size: 60px;
  }

  .portfolio {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .case {
    flex-basis: 30%;
  }

  footer {
    display: none;
  }
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: white;
  font-family: 'Lato', sans-serif;
}

.navigation {
  padding: 20px;
}

.logo {
  height: 120px;
  display: flex;
  justify-content: center;
}

.logoeid {
  height: 80px;
  margin-top: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact {
  display: flex;
  justify-content: center;
  background-color: #EFEFEF;
  margin: 10px 0px 10px 0px;
  border-radius: 20px;
  padding: 10px;
}

.anim {
  transition: all .2s ease-in-out;
}
.anim:hover {
  transform: scale(0.95);
}

.anim:active {
  transform: scale(1.05);
}

.smcontainer {
  padding: 0px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socialmedia {
  border-radius: 20px;
  padding: 3.5px 0px 3.5px 0px;
  flex-basis: 30%;
  background-color: #EFEFEF;
  display: flex;
  justify-content: center;
}

.smlogo {
  width: 24px;
  height: 24px;
}

.main {
  padding: 0px 20px 20px 20px;
  display: flex;
  flex-direction: row;
}

.title {
  color: #231F20;
  padding: 10px 10px 0px 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: flex-start;
}

.introduction {
  padding: 0px 10px 10px 10px;
  line-height: 25px;
}

.alinea {
  margin-top: 20px;
}

.imgcontainer {
  background-image: url(pictures/ezra2.jpg);
  background-size: 100%;
}

.case.anim {
  height: 150px;
  margin-top: 20px;
  background-color: #EFEFEF;
  border-radius: 20px;
  transition: all .2s ease-in-out;
}

.case.one {
  background-image: url(pictures/tokolekki.png);
  background-position: center bottom;
  background-size: 60%;
  background-repeat: no-repeat;
}

.case.two {
  background-image: url(pictures/samenwijzer.png);
  background-position: center bottom;
  background-size: 60%;
  background-repeat: no-repeat;
}

.case.three {
  background-image: url(pictures/kravmaganederland.png);
  background-position: center bottom;
  background-size: 60%;
  background-repeat: no-repeat;
}

footer {
  background-color: #231F20;
  height: 100px;
  margin-top: 20px;
}

.foot.smcontainer {
  background-color: #231F20;
  width: 80%;
}

.foot.socialmedia {
  background-color: #231F20;
}

a:link {
  color: #231F20;
  text-decoration: none;
}

a:visited {
  color: #231F20;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #231F20;
}

a:active {
  color: #231F20;
}
